* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border-radius: 5em;
}

html {
    background: url(appetizer-dark-delicious-326279.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Merriweather', serif;
    height: 100%;
}

fieldset {
    border: none;
}

body {
    margin: 0px;
    height: 100%;
}

header {
    text-align: center;
}

.flexContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.quizForm {
    display: none;
    width: 70%;
    text-align: center;
    background-color: #C8F7C5;
    font-size: 22px;
    color: #1E8BC3;
    border: 5px solid #1E8BC3;
}

.quizStart {
    width: 45%;
    text-align: center;
    background-color: #C8F7C5;
    font-size: 24px;
    color: #1E8BC3;
    border: 5px solid #1E8BC3;
}

button {
    display: block;
    border: none;
    outline: none;
    background-color: #1E8BC3;
    padding: 10px;
    color: #C8F7C5;
    width: 100%;
    margin: 10px 0 0 0;
    cursor: pointer;
    border-radius: 0 0 5em 5em;
    font-size: 18px;
}

button:hover, button:focus {
    background-color: #67809f;
    color: #00FF7F;
}

header ul li {
    list-style: none;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px;
}

.question-score-container {
    margin: auto;
    margin-top: 35px;
    background-color: #C8F7C5;
    color: #1E8BC3;
    width: 15%;
    border: 2px solid #1E8BC3;
}

img {
    width: 40%;
    border: 2px solid #1E8BC3;
    display: none;
}

h3 {
    margin: 10px 0;
}

.answerOption {
    padding: 10px;
}